[app_store_signer]
basicConstraints = critical, CA:false
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, codeSigning
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid, issuer
1.2.840.113635.100.6.11.1 = critical, DER:05:00
